body{
 background: #ffbd59;
 color: #fff;
}
/*card principal*/

.card-container {
  display: flex;
  align-items: center;
}

.card-imagem {
  width: 400px; /* Ajuste o tamanho conforme necessário */
  margin-right: 20px; /* Espaçamento entre a imagem e os botões */
}

.card-segundario {
  display: block;
  flex-direction: column;
}
button{
  background: #354aa7;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 5px;
  border: dotted;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}
.button-start{
  background: #ae332e;
  margin: 30px;
  font-size: 20px;
width: 250px;

}
/*css da orientaçaõ*/

.button-next{
border: none;
background: #fff;
color: #ae332e;
}
.balao {
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 300px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.balao::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
/*css do jogo*/
.container {
  text-align: center;
  padding: 20px;

}

/*formulario*/
form {
  display: flex;
flex-direction: column;
background: #354aa7;

  align-items: center; 
  margin-top: 20px; 
}

fieldset {
  border: none; /* Remove a borda padrão do fieldset */

}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
}
