body{
 width: 100%;
 background-image: url('../src/img/fundo.jpg');
 background-size: cover; 
 background-position: center; 
 height: 100vh;
}

/*card principal*/

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-imagem {
  width: 400px; /* Ajuste o tamanho conforme necessário */
  margin-right: 20px; /* Espaçamento entre a imagem e os botões */
}

.card-segundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

}
.card-segundario h3, h2{
color: #ae332e;
font-size: 20px;
}
button{
  background: #354aa7;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 5px;
  border: dotted;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}
.button-start{
  background: #ae332e;
  margin: 30px;
  font-size: 20px;
width: 250px;

}
/*css da orientaçaõ*/
.orientacoes-container{
  position: absolute;
  bottom: 0;
}
.button-continuar{
border: none;

background: #fff;
color: #ae332e;
padding: 20px;
width: 300px;
}
.balao {
  align-items: center;
  position: relative;
  width: 400px;
  padding: 30px;
  margin: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 90px;
}

/*.balao::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -195px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
*/
.orientacoes-container {
  display: flex;
 
}
.orientacoes-home{
 bottom: 2px;
  position: absolute;
  margin-left: 70%;
  
}
.balao-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhar o balão à esquerda */
 /* Ocupar o espaço disponível */
}



.footer {
  display: flex;
  justify-content: flex-end; /* Alinhar os logotipos à direita */
  align-items: center;
}

.footer img{
  margin: 10px;
  width: 100px;
  height: 100px;
}

/*css do quiz*/
.quadrado-quiz{
  display: block;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; 
position: absolute;
bottom: 2;
}
.quadrado-constainer{
  background: #354aa7;
width: 300px;
align-items: center;
height: 400px; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; 
  margin: 15px;
}
.quadrado-constainer button{
  background: #ffbd59;
}
.quadrado-constainer .questao{
 background: #ae332e; 
 border-radius: 20px;
 padding: 10px;
 width: 100px;
 font-size: 30px;
 text-align: center;
}
.cena-one, .cena-quiz{
  width: 200px;
 /* margin: 10px;
  position: fixed;
  bottom: 0;
  */
}
.cena-quiz{
  /*position: fixed;
  bottom: 0;*/
}
.button-quiz-one{
 display: flex
}
/*formulario*/
form {
  display: flex;
flex-direction: column;
background: #354aa7;
border-radius: 30px;
  align-items: center; 
  margin-top: 20px; 
  margin:30px;
}

fieldset {
  border: none; /* Remove a borda padrão do fieldset */

}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
}
.perfil{
  width: 30px;

}
/*css do quiz*/
.img-container {
 /* justify-content: space-around;
  align-items: center;

  display: flex;*/
  position: fixed;
  bottom: 0;
}



/*css da fase*/

.fase-container{
display: flex;
}
.fase-one-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.card-imagem-fase {
  max-width: 200px; /* Ajuste conforme necessário */
  margin-right: 400px; /* Espaço entre a imagem e o texto */
}

.text-container {
  flex: 1; 
}

.container-fase {
  max-width: 600px;
  background: #354aa7;

}

.certo-fase {
  background: #354aa7;
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  margin-left: 230px;
  align-items: center;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-item {
  width: calc(25% - 16px); /* 25% da largura da linha menos a margem entre as imagens */
  margin: 8px;
   border-radius: 40px;
  position: relative;
  
}
.image-item.selected {
  background: #59ff59; /* Cor de fundo para itens selecionados */
  border: 10px solid transparent;

}

.image-item.incorrect {
 border: 10px solid transparent;
  background: #ae332e;
}


.image-item.selecione-teste1{
background: #000;
}
img .image-item{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra suave quando a imagem é clicada */
}

.fase-one-balao{
  display: flex;
}

/*css do jogo*/
.jogo-imagem{
  /*display: flex;
  margin: 5px;*/
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
}
img.img-jogo-one {
  width: 200px;
 height: 200px;
}

.button-continuar-jogo{
 /* margin: 50px;
  /position: absolute;
  bottom: 0;
  
  padding: 20px;
  */
  width: 200px;
}

 .cena-one-cardio{
  width: 200px;
  bottom: 0;
cursor: pointer;
color: #ae332e;
  left: 40%;
  position: absolute;
}

.compressao-time, .compressao-feitas{
  background: #f9f9f9;
  color: #ae332e;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  margin: 5px;
}
.texto-botao {
  flex: 1; /* Ocupa todo o espaço disponível */
  text-align: center; /* Centraliza o texto */

}

.button-continuar {
  margin-top: 10px; 
  /* Adiciona um espaçamento acima do botão */
}

/*idealizadores*/
.idealizadores{
max-width: 800px;
  margin: auto;
  padding: 20px;
}

.curriculo {
  background: #f9f9f9;
  color: #ae332e;
  padding: 20px;
  margin-bottom: 20px;
}
#backToTopBtn{
  background: #f9f9f9;
  transform: rotate(90deg);
border: none;
}
@keyframes caminhada {
  0% { background-position: 0 0; } /* primeira etapa da caminhada */
  100% { background-position: -600px 0; } /* última etapa da caminhada */
}
/* ideializadores*/
.idealizadores {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; /* Distribui os itens uniformemente ao longo do eixo principal com espaçamento entre eles */
}

/*.idealizadores {
width: 200px;
height: 350px;
padding: 5px;
margin: 5px;
border-radius: 30px;
}



.idealizadores{
background: #000;
padding: 10px;
width: 200px;
}
*/
/*massagem cardiopulmonar*/

.cartilhas{
  background: #f9f9f9;
color: #ae332e;
 padding: 30px;
 display: flex;
align-items: center;
  flex-direction: column;
  width: 200px;
  position: absolute;
  
  left: 40%;
}
.cartilhas a{
  text-decoration: none;
  
}

/*graficos*/
.quadrados-dados{
  display: flex;
}
.quadrado-jogo{
  margin: 6px;
  width: 300px;
  height: 200px;
  color: #ae332e;
  background: #f9f9f9;
}
.quadrado-estatistica{
  display: flex;
  margin: 5px;
}
.nome-jogadores{
  margin: 5px;
  background: #fff;
  color: #ae332e;
  width: 300px;
}
@media screen and (min-width: 900px) {
  /* Coloque aqui as regras CSS específicas para telas de computador */
  .card-principal .card-segundario h2, h3{
  font-size: 40px;
margin: 4px;
  font-weight: bold;
  }
  .card-principal{
    position: fixed;
    left: 50%;
    right: 50%;
    bottom: 30px;

  }
  .orientacoes-container{
    /* display: inline;
    
    */
      position: absolute;
      bottom: 0px;
      margin: 0px;
    }
    
    .quadrado-quiz{
      position: absolute;
      display: inline;
      }
     
 /* .card-principal h3, h2{
  color: #fff;

}*/

}
@media screen and (max-width: 600px) {
   .card-imagem {
    display: none;
  }
  .card-principal{
    position: absolute;
    bottom: 0;
  }
  .card-principal h3,h2{
    font-size: 30px;
    color: #fff;
  }


   /*responsivo do jogo*/


  .jogo-imagem .button-continuar-jogo{
float: right;
margin: 16px;
  }
.img-jogo-one{
height: 200px;
position: absolute;
bottom: 0;

}

.img-jogo .balao{
  margin-bottom: 150px;
  padding: 20px;
  width: 100px;
}
  /*responsivo do quiz*/
.img-container{
  height: 300px;

}
.cena-quiz{

  width: 100px;
}
  .quadrado-constainer{
width: 200px;
height: 300px;
  }
  .quadrado-quiz{
  display: inline;
  }
  .image-container {
    display: none;
  }
  .fase-one-balao{
    display: block;
  }
  .image-item {
    width: 30%;
    margin: 8px;
    position: relative;
  }
  .footer{
    display: none;
  }
  /*orientações*/
  .orientacoes-container{
  /* display: inline;
  
  */
    position: absolute;
    bottom: 0px;
    margin: 0px;
  }

 .orientacoes-container .vitoria{
  width: 150px;
  margin: 0px;
  height: 200px;
 }
 .orientacoes-container .balao{
padding: 25px;
margin: 0px;

width: 200px;
 }
 .orientacoes-container .button-continuar{
  padding: 15px;
  width: 200px;
 }
.cartilhas{
  top: 30%;
  left: 15%;
}
.compressao .cena-one-cardio{
  left: 15%;
  bottom: 30px;
  width: 200px;
}
.cena-one-cardio{
height: 200px;
position: absolute;
bottom: 0;
}
.compressao .balao{
padding: 20px;
width: 200px;
}
.quadrado-estatistica{
  display: block;
}
}