body{
 background: #ffbd59;
 color: #fff;
}
/*card principal*/

.card-container {
  display: flex;
  align-items: center;
}

.card-imagem {
  width: 400px; /* Ajuste o tamanho conforme necessário */
  margin-right: 20px; /* Espaçamento entre a imagem e os botões */
}

.card-segundario {
  display: block;
  flex-direction: column;
}
button{
  background: #354aa7;
  color: #000;
  display: block;
  font-size: 20px;
  margin: 5px;
  border: dotted;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}
.button-start{
  background: #ae332e;
  margin: 30px;
  font-size: 20px;
width: 250px;

}
/*css da orientaçaõ*/

.button-next{
border: none;
background: #fff;
color: #ae332e;
}
.balao {
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 300px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.balao::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
/*css do quiz*/
.quadrado-quiz{
  display: flex;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: center; 

}
.quadrado-constainer{
  background: #354aa7;
width: 500px;
align-items: center;
height: 500px; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; 
  margin: 15px;
}
.quadrado-constainer button{
  background: #ffbd59;
}
.quadrado-constainer .questao{
 background: #ae332e; 
 border-radius: 20px;
 padding: 10px;
 width: 100px;
 font-size: 30px;
 text-align: center;
}

/*css do jogo*/


/*formulario*/
form {
  display: flex;
flex-direction: column;
background: #354aa7;

  align-items: center; 
  margin-top: 20px; 
}

fieldset {
  border: none; /* Remove a borda padrão do fieldset */

}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 200px;
  padding: 8px;
  box-sizing: border-box;
}

/*css do quiz*/
.img-container {
  justify-content: space-around; /* Ajuste conforme necessário */
  align-items: center; /* Ajuste conforme necessário */
}

.img3 {
  width: 200px ;
  height: 300px;
}

/*css da fase*/
.container-fase {
  max-width: 600px;
  margin: 0 auto;
  background: #ae332e;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.image-item {
  width: 30%;
  margin: 8px;
  position: relative;
}

.image-item img {
  width: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.image-item.selected::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid black; /* Alterei para preto quando a imagem é clicada */
  box-sizing: border-box;
}

.image-item.correct img {
  border-color: green;
}

.image-item.incorrect img {
  border-color: red;
}

.button-next {
  margin-top: 16px;
}
